html{
  font-size: 65%;
  box-sizing: border-box;
}

body{
  margin: 4rem auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 1.6rem; 
  color:#444;
  padding:0 1rem;
}
h1,h2,h3{
  line-height:1.2
}
pre code {
  background-color: #eee;
  border: 1px solid #aaa;
  display: block;
  padding: 2rem;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

.dark {
  background: #444;
  color: #ddd;
}

.dark pre code {
  background-color: #333;
}

.dark a {
  color: skyblue;
}

.dark a:visited {
  color: #cc7ff7;
}

@media (max-width: 480px) {
  body {
    padding: 0 5px;
  }
  pre, pre code {
    font-size: 1rem;
    width: 95vw;
  }

  pre code {
    margin-left: -1rem;
    border: 0;
    margin: auto;
  }
}